<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<!--
		配置了这个以后tomcat会去webapp下面一次寻找index1.jsp/index.jsp，如果都不存在则出现404异常
		且优先级高于springmvc的<mvc:view-controller path="/" view-name="redirect:index.jsp"/>
	 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index1.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
