<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="LOG_LEVEL" value="INFO" />

	<!--控制台日志 START -->
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder --> 
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} at %L - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 根logger的设置-->
	<!-- 控制台日志监测到info级别 -->
	<root level="${LOG_LEVEL}">
		<appender-ref ref="consoleLog" />  
	</root>
</configuration>