<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanmao.data.sync.dao.oracle.AccessSystemConfigEntityMapper">
<resultMap id="BaseResultMap" type="com.lanmao.data.sync.dao.entity.AccessSystemConfigEntity">
  <id column="ID" jdbcType="BIGINT" property="id" />
  <result column="ACCESS_SYSTEM_NO" jdbcType="VARCHAR" property="accessSystemNo" />
  <result column="ACCESS_SYSTEM_NAME" jdbcType="VARCHAR" property="accessSystemName" />
  <result column="CALLBACK_URL" jdbcType="VARCHAR" property="callbackUrl" />
  <result column="NOTIFY_URL" jdbcType="VARCHAR" property="notifyUrl" />
  <result column="ENCRYPT_KEY" jdbcType="VARCHAR" property="encryptKey" />
  <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
</resultMap>

 <insert id="insert" keyProperty="id" parameterType="com.lanmao.data.sync.dao.entity.AccessChannelConfigEntity" useGeneratedKeys="false">
  insert into LM_PAY.T_ACCESS_SYSTEM_CONFIG (ID,
      ACCESS_SYSTEM_NO,
      ACCESS_SYSTEM_NAME,
      CALLBACK_URL,
      NOTIFY_URL,
      ENCRYPT_KEY,
      CREATE_TIME,
      MODIFY_TIME
  )
  values (#{id,jdbcType=NUMERIC}, #{accessSystemNo,jdbcType=VARCHAR}, #{accessSystemName,jdbcType=VARCHAR},
  #{callbackUrl,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{encryptKey,jdbcType=VARCHAR},
  #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
  )
</insert>
</mapper>