<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanmao.data.sync.dao.oracle.BatchAuthResultEntityMapper">
  <resultMap id="BaseResultMap" type="com.lanmao.data.sync.dao.entity.BatchAuthResultEntity">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="BATCH_AUTH_ID" jdbcType="DECIMAL" property="batchAuthId" />
    <result column="LINE_NO" jdbcType="DECIMAL" property="lineNo" />
    <result column="SUBJECT_NO" jdbcType="VARCHAR" property="subjectNo" />
    <result column="PLATFORM_USER_NO" jdbcType="VARCHAR" property="platformUserNo" />
    <result column="REQUEST_NO" jdbcType="VARCHAR" property="requestNo" />
    <result column="CARD_HOLDER" jdbcType="VARCHAR" property="cardHolder" />
    <result column="CRED_NUM" jdbcType="VARCHAR" property="credNum" />
    <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="AUTH_NO" jdbcType="VARCHAR" property="authNo" />
    <result column="BANK" jdbcType="VARCHAR" property="bank" />
    <result column="CNAPS" jdbcType="VARCHAR" property="cnaps" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="AUTH_MODE" jdbcType="VARCHAR" property="authMode" />
    <result column="ERROR_CODE" jdbcType="VARCHAR" property="errorCode" />
    <result column="ERROR_MSG" jdbcType="VARCHAR" property="errorMsg" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BATCH_AUTH_ID, LINE_NO, SUBJECT_NO, PLATFORM_USER_NO, REQUEST_NO, CARD_HOLDER, 
    CRED_NUM, CARD_NO, MOBILE, AUTH_NO, BANK, CNAPS, STATUS, AUTH_MODE, ERROR_CODE, ERROR_MSG, 
    CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LM_PAY.T_BATCH_AUTH_RESULT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from LM_PAY.T_BATCH_AUTH_RESULT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lanmao.data.sync.dao.entity.BatchAuthResultEntity" useGeneratedKeys="false">
    insert into LM_PAY.T_BATCH_AUTH_RESULT (ID, BATCH_AUTH_ID, LINE_NO,
      SUBJECT_NO, PLATFORM_USER_NO, REQUEST_NO, 
      CARD_HOLDER, CRED_NUM, CARD_NO, 
      MOBILE, AUTH_NO, BANK, 
      CNAPS, STATUS, AUTH_MODE, 
      ERROR_CODE, ERROR_MSG, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{batchAuthId,jdbcType=DECIMAL}, #{lineNo,jdbcType=DECIMAL}, 
      #{subjectNo,jdbcType=VARCHAR}, #{platformUserNo,jdbcType=VARCHAR}, #{requestNo,jdbcType=VARCHAR}, 
      #{cardHolder,jdbcType=VARCHAR}, #{credNum,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{authNo,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{cnaps,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{authMode,jdbcType=VARCHAR}, 
      #{errorCode,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lanmao.data.sync.dao.entity.BatchAuthResultEntity" useGeneratedKeys="false">
    insert into LM_PAY.T_BATCH_AUTH_RESULT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="batchAuthId != null">
        BATCH_AUTH_ID,
      </if>
      <if test="lineNo != null">
        LINE_NO,
      </if>
      <if test="subjectNo != null">
        SUBJECT_NO,
      </if>
      <if test="platformUserNo != null">
        PLATFORM_USER_NO,
      </if>
      <if test="requestNo != null">
        REQUEST_NO,
      </if>
      <if test="cardHolder != null">
        CARD_HOLDER,
      </if>
      <if test="credNum != null">
        CRED_NUM,
      </if>
      <if test="cardNo != null">
        CARD_NO,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="authNo != null">
        AUTH_NO,
      </if>
      <if test="bank != null">
        BANK,
      </if>
      <if test="cnaps != null">
        CNAPS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="authMode != null">
        AUTH_MODE,
      </if>
      <if test="errorCode != null">
        ERROR_CODE,
      </if>
      <if test="errorMsg != null">
        ERROR_MSG,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=DECIMAL},
      <if test="batchAuthId != null">
        #{batchAuthId,jdbcType=DECIMAL},
      </if>
      <if test="lineNo != null">
        #{lineNo,jdbcType=DECIMAL},
      </if>
      <if test="subjectNo != null">
        #{subjectNo,jdbcType=VARCHAR},
      </if>
      <if test="platformUserNo != null">
        #{platformUserNo,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="cardHolder != null">
        #{cardHolder,jdbcType=VARCHAR},
      </if>
      <if test="credNum != null">
        #{credNum,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="authNo != null">
        #{authNo,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="cnaps != null">
        #{cnaps,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="authMode != null">
        #{authMode,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanmao.data.sync.dao.entity.BatchAuthResultEntity">
    update LM_PAY.T_BATCH_AUTH_RESULT
    <set>
      <if test="batchAuthId != null">
        BATCH_AUTH_ID = #{batchAuthId,jdbcType=DECIMAL},
      </if>
      <if test="lineNo != null">
        LINE_NO = #{lineNo,jdbcType=DECIMAL},
      </if>
      <if test="subjectNo != null">
        SUBJECT_NO = #{subjectNo,jdbcType=VARCHAR},
      </if>
      <if test="platformUserNo != null">
        PLATFORM_USER_NO = #{platformUserNo,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null">
        REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="cardHolder != null">
        CARD_HOLDER = #{cardHolder,jdbcType=VARCHAR},
      </if>
      <if test="credNum != null">
        CRED_NUM = #{credNum,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="authNo != null">
        AUTH_NO = #{authNo,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        BANK = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="cnaps != null">
        CNAPS = #{cnaps,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="authMode != null">
        AUTH_MODE = #{authMode,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanmao.data.sync.dao.entity.BatchAuthResultEntity">
    update LM_PAY.T_BATCH_AUTH_RESULT
    set BATCH_AUTH_ID = #{batchAuthId,jdbcType=DECIMAL},
      LINE_NO = #{lineNo,jdbcType=DECIMAL},
      SUBJECT_NO = #{subjectNo,jdbcType=VARCHAR},
      PLATFORM_USER_NO = #{platformUserNo,jdbcType=VARCHAR},
      REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      CARD_HOLDER = #{cardHolder,jdbcType=VARCHAR},
      CRED_NUM = #{credNum,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      AUTH_NO = #{authNo,jdbcType=VARCHAR},
      BANK = #{bank,jdbcType=VARCHAR},
      CNAPS = #{cnaps,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      AUTH_MODE = #{authMode,jdbcType=VARCHAR},
      ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
      ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>