<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanmao.data.sync.dao.oracle.PaymentCodeRuleEntityMapper">
  <resultMap id="BaseResultMap" type="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntity">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="SUBJECT_NO" jdbcType="VARCHAR" property="subjectNo" />
    <result column="IS_DEFAULT" jdbcType="VARCHAR" property="isDefault" />
    <result column="RULE_TYPE" jdbcType="VARCHAR" property="ruleType" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="EXECUTOR" jdbcType="VARCHAR" property="executor" />
    <result column="BUSINESS_SYSTEM" jdbcType="VARCHAR" property="businessSystem" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SUBJECT_NO, IS_DEFAULT, RULE_TYPE, CREATE_TIME, UPDATE_TIME, EXECUTOR, BUSINESS_SYSTEM, 
    REMARK
  </sql>
  <select id="selectByExample" parameterType="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LM_PAY.T_PAYMENT_CODE_RULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from LM_PAY.T_PAYMENT_CODE_RULE
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from LM_PAY.T_PAYMENT_CODE_RULE
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntityExample">
    delete from LM_PAY.T_PAYMENT_CODE_RULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntity" useGeneratedKeys="false">
    insert into LM_PAY.T_PAYMENT_CODE_RULE (ID, SUBJECT_NO, IS_DEFAULT,
      RULE_TYPE, CREATE_TIME, UPDATE_TIME,
    EXECUTOR, BUSINESS_SYSTEM, REMARK
      )
    values (#{id,jdbcType=NUMERIC}, #{subjectNo,jdbcType=VARCHAR}, #{isDefault,jdbcType=VARCHAR}, 
      #{ruleType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
    #{executor,jdbcType=VARCHAR}, #{businessSystem,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntity" useGeneratedKeys="false">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      select SEQ_T_PAYMENT_CODE_RULE.nextVal from dual
    </selectKey>
    insert into LM_PAY.T_PAYMENT_CODE_RULE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="subjectNo != null">
        SUBJECT_NO,
      </if>
      <if test="isDefault != null">
        IS_DEFAULT,
      </if>
      <if test="ruleType != null">
        RULE_TYPE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="executor != null">
        EXECUTOR,
      </if>
      <if test="businessSystem != null">
        BUSINESS_SYSTEM,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=NUMERIC},
      <if test="subjectNo != null">
        #{subjectNo,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=VARCHAR},
      </if>
      <if test="businessSystem != null">
        #{businessSystem,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntityExample" resultType="java.lang.Integer">
    select count(*) from LM_PAY.T_PAYMENT_CODE_RULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update LM_PAY.T_PAYMENT_CODE_RULE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.subjectNo != null">
        SUBJECT_NO = #{record.subjectNo,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null">
        IS_DEFAULT = #{record.isDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleType != null">
        RULE_TYPE = #{record.ruleType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.executor != null">
        EXECUTOR = #{record.executor,jdbcType=VARCHAR},
      </if>
      <if test="record.businessSystem != null">
        BUSINESS_SYSTEM = #{record.businessSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update LM_PAY.T_PAYMENT_CODE_RULE
    set ID = #{record.id,jdbcType=NUMERIC},
    SUBJECT_NO = #{record.subjectNo,jdbcType=VARCHAR},
      IS_DEFAULT = #{record.isDefault,jdbcType=VARCHAR},
    RULE_TYPE = #{record.ruleType,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
    UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      EXECUTOR = #{record.executor,jdbcType=VARCHAR},
    BUSINESS_SYSTEM = #{record.businessSystem,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntity">
    update LM_PAY.T_PAYMENT_CODE_RULE
    <set>
      <if test="subjectNo != null">
        SUBJECT_NO = #{subjectNo,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        IS_DEFAULT = #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        RULE_TYPE = #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null">
        EXECUTOR = #{executor,jdbcType=VARCHAR},
      </if>
      <if test="businessSystem != null">
        BUSINESS_SYSTEM = #{businessSystem,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanmao.data.sync.dao.entity.PaymentCodeRuleEntity">
    update LM_PAY.T_PAYMENT_CODE_RULE
    set SUBJECT_NO = #{subjectNo,jdbcType=VARCHAR},
    IS_DEFAULT = #{isDefault,jdbcType=VARCHAR},
      RULE_TYPE = #{ruleType,jdbcType=VARCHAR},
    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
    EXECUTOR = #{executor,jdbcType=VARCHAR},
      BUSINESS_SYSTEM = #{businessSystem,jdbcType=VARCHAR},
    REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>