<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanmao.data.sync.dao.db2.MinMaxDayMapper">
  <select id="minMaxDay" resultType="com.lanmao.data.sync.param.MinMaxDay">
    select to_char(min(create_time), 'yyyyMMdd') minDay, to_char(max(create_time), 'yyyyMMdd') maxDay,
      (days(to_char(max(create_time), 'yyyy-MM-dd')) - days(to_char(min(create_time), 'yyyy-MM-dd'))) + 1 as daysDiff  from lm_pay.${tableName}
  </select>
    <select id="minMaxId" resultType="com.lanmao.data.sync.param.MinMaxId">
      select min(id) minId, max(id) maxId, max(id)-min(id) as idDiff from LM_PAY.${tableName}
    </select>
</mapper>