<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanmao.data.sync.dao.db2.AccessChannelConfigEntityMapper">
<resultMap id="BaseResultMap" type="com.lanmao.data.sync.dao.entity.AccessChannelConfigEntity">
  <id column="ID" jdbcType="BIGINT" property="id" />
  <result column="CHANNEL" jdbcType="VARCHAR" property="channel" />
  <result column="CHANNEL_ACCESS_NO" jdbcType="VARCHAR" property="channelAccessNo" />
  <result column="ACCESS_SYSTEM_NO" jdbcType="VARCHAR" property="accessSystemNo" />
  <result column="ENCRYPT_KEY" jdbcType="VARCHAR" property="encryptKey" />
  <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
</resultMap>

<select id="queryList" resultMap="BaseResultMap" parameterType="com.lanmao.data.sync.client.param.PageQueryParam">
  select * from (
  select t.*, ROW_NUMBER() OVER(order by CREATE_TIME) AS NUM from LM_PAY.${tableName} t
  where
  CREATE_TIME &gt;= #{startTime,jdbcType=TIMESTAMP}
  and
  CREATE_TIME &lt; #{endTime,jdbcType=TIMESTAMP}
  ) temp
  where num &gt; #{start,jdbcType=BIGINT}
  and num &lt;= #{end,jdbcType=BIGINT}
</select>

</mapper>